extends layout
block content
 h1= title
 - let restaurantid = toShow._id
 - let restaurant_name = toShow.name
 - let restaurant_cuisine = toShow.cuisine
 - let restaurant_rating = toShow.rating
 div
 div.row
  div(class='restaurantAttr mr-3') Restaurant ID is:
  div #{restaurantid}
 div.row
  div(class='restaurantAttr mr-3') Restaurant Name is:
  div #{restaurant_name}
 div.row
  div(class='restaurantAttr mr-3') Restaurant Cuisine is:
  div #{restaurant_cuisine}
 div.row
  div(class='restaurantAttr mr-3') Restaurant Rating is:
  div #{restaurant_rating}